<head>
	<% @title = yield(:title) %>
	<title>Full Circle Studios | <%= @title %></title>
	<%= stylesheet_link_tag    	'application', :media => 'all' %>
	<%= javascript_include_tag 	'application' %>
</head>


<section class="centered">
	<h3 id="main-title"><%= link_to( "Full Circle Studios", "/home") %></h3>
	<%= image_tag("25.jpg")%>
</section>

<nav class="centered"> 
	<ul>
		<% ['Home', 'About', 'Gear', 'Gallery', 'Contact'].each do |page| %>
			<li><%= link_to( page.upcase, "/#{page.downcase}") %></li>
		<% end %>
	</ul>
</nav>