<!DOCTYPE html>
<html>
	<%= render 'layouts/header' %>
	<%= render 'layouts/subscribe' %>
	<body>
		
		<%= yield %>
		
		<%= render 'layouts/footer' %>
		<%= render 'layouts/google_analytics' %>
	</body>
</html>
