<!DOCTYPE html>
<html>
	<head>
		<% @title = yield(:title) %>
  	<title>Preston Gunderson | <%= @title %></title>
		<%= stylesheet_link_tag 		"http://fonts.googleapis.com/css?family=Fauna+One|Milonga" %>
  	<%= stylesheet_link_tag    	"application", :media => "all" %>
  	<%= javascript_include_tag 	"application" %>
  	<%= csrf_meta_tags %>

		<script type="text/javascript">
		  WebFontConfig = {
		    google: { families: [ 'Fauna+One::latin', 'Milonga::latin' ] }
		  };
		  (function() {
		    var wf = document.createElement('script');
		    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
		      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		    wf.type = 'text/javascript';
		    wf.async = 'true';
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(wf, s);
		  })(); </script>
	</head>
	<body>
		<nav class="center border"> 
			<ul>
				<% ["Home", "Bio", "Photos", "Music", "Tour", "Videos", "Contact"].each do |page| %>
					<li><%= link_to( page.upcase, @title == page ? "#" : "/#{page.downcase}" ) %></li>
				<% end %>
			</ul>
		</nav>
		<header class="center border">
			<%= image_tag("/assets/on_stage.jpg", width: 580, id: "cover")%>
			<h1>Preston Gunderson</h1>
		</header>
		
		<%= yield %>
		
		<footer class="center border">
			<p>&copy; All content copyright Preston Gunderson. Site by Joe P Shoulak.</p>
		</footer>
	</body>
</html>
