<!DOCTYPE html>
<html>
	<head>
		<% @title = yield(:title) %>
  	<title>Preston Gunderson | <%= @title %></title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="center border"> 
			<ul>
				<% ["Home", "Bio", "Photos", "Music", "Tour", "Videos", "Contact"].each do |page| %>
					<li><%= link_to( page.upcase, @title == page ? "#" : "/#{page.downcase}" ) %></li>
				<% end %>
			</ul>
		</nav>
		<header class="center border">
			<%= image_tag("/assets/on_stage.jpg", width: 580, id: "cover")%>
			<h1>Preston Gunderson</h1>
		</header>
		
		<%= yield %>
		
		<footer class="center border">
			<p>&copy; All content copyright Preston Gunderson. Site by Joe P Shoulak.</p>
		</footer>
	</body>
</html>
